 <% @items.each do |item| %>
 <table class="table table-striped table-bordered">
 	<caption>検索結果○○件</caption>
 	<thead class="thead-dark">
 		<tr>
 			<th>ID</th>
 			<th>商品名</th>
 			<th>歌手名</th>
 			<th>価格（税抜）</th>
 			<th>ジャンル</th>
 			<th>レーベル</th>
 			<th>在庫数</th>
 			<th>販売ステータス</th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr>
 			<td>data</td>
 		</tr>
 	</tbody>
 </table>