<div class="nested-fields form-inline">
	<div class="form-group">
		<label class="song-setlist">No.</label>
		<%= f.number_field :setlist, value:"1", min:"1", max:"99", class:"number_field" %>
		<label class="song-setlist">曲名</label>
		<%= f.text_field :name %>
	</div>
</div>