<table class="credit-table">
	<tr>
		<td width="10%">・番号入力</td>
		<td class="creditmenu"><%= f.text_field :card_num, class:'col-xs-12 ' %></td>
	</tr>
	<tr>
		<td width="20%">・カード名義</td>
		<td class="creditmenu"><%= f.text_field :card_name, class:'col-xs-9' %></td>
	</tr>
	<tr>
		<td width="50%">・セキュリティコード</td>
		<td class="creditmenu"><%= f.text_field :securitycode, class:'col-xs-4' %></td>
	</tr>
</table>