<div class="container">
	<div>
		<h1 class="confirm-title">お客様の注文が確定されました。</h1>
		<h2 class="confirm-body">お買い上げいただき、誠にありがとうございます。<br>
		ご注文内容は購入履歴からご覧いただけます。</h2>
	</div>
	<div class="row">
		<%= link_to(orders_path) do %>
		<div class="col-xs-2 col-xs-offset-3 box1"><購入履歴一覧へ</div>
		<% end %>
		<%= link_to(items_path) do %>
		<div class="col-xs-2 col-xs-offset-2 box1">商品一覧へ></div>
		<% end %>
	</div>
</div>
