<div class="container">
	<h2 class="index-title">購入履歴</h2>
	<div class="border"></div>
	<div class="row">
		<!--    ステータス選択画面を出すコード<%= select :status,:name,Order.statuses.keys.to_a %> -->
		<p class="col-xs-2 col-xs-offset-1 delivery-status">配送状況:</p>
	</div>
   <div class="row">
	<div class="col-xs-6 col-xs-offset-3">
	 <p id="pageTop"><a href="#">ページのトップへ戻る</a></p>
	</div>
   </div>
	<div class="row">
	<script>
      $(function(){
        $('a[href^="#"]').click(function() {
          var speed = 400;
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
          $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });
    </script>
    	<%= link_to(user_path(current_user)) do %>
		<div class="col-xs-2 col-xs-offset-3 index-box1">マイページへ</div>
		<% end %>
	</div>
</div>
