<div class="container">
	<h2 class="index-title">購入履歴</h2>
	<div class="border"></div>
	<div class="row">
		<!--    ステータス選択画面を出すコード<%= select :status,:name,Order.statuses.keys.to_a %> -->
		<p class="col-xs-2 col-xs-offset-1 delivery-status">配送状況:</p>
	</div>
   <div class="row">
	<div class="col-xs-6 col-xs-offset-3">
	 <p id="pageTop"><a href="#">ページのトップへ戻る</a></p>
	</div>
   </div>
	<div class="row">
		<%= link_to(user_path(current_user.id)) do %>
		<div class="col-xs-2 col-xs-offset-3 index-box1">マイページへ</div>
		<% end %>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/pagetop.js"></script>
</div>
