/*サイドメニュー*/

ul {
  padding: 0;
}

.detail-list{
  color: #404040;
  border-left: solid 6px #4682B4;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

/*商品登録タイトル*/

.registration-items{
	text-align: center;
}

.border{
	width: 80%;
	height: 2px;
	background-color:#dadada;
	margin: 0 auto;
}

.registration-contents{
	margin-top: 50px;
}


#input_plural {
    margin: 10px 0;
}

/*数字入力フォームの長さ*/

.number_field{
	width: 35px;
}

.search-box{
	margin-top: 35px;
	margin-bottom: 500px;
}

.attribution{
	$is: 1,6,7,8,9,10,11,12;

	@each $i in $is{
	option:nth-of-type(#{$i}) {display:none}
	}
}
