 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/autocomplete

 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";
@import 'bootstrap-datetimepicker';


/*ここからUSER*/



.user-title {
	display: inline;
	padding: 0 0 0 115px;
}

.icon {
	font-size: 20px;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.jumbotron {
	height: 300px;
	margin: auto;
}

.border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}


.space{
    height: 20px;
    margin: 0 auto;
}

.blank{
    height: 200px;
    margin: 0 auto;
}

.vacuum{
	height: 100px;
	margin: 0 auto;
}

.text{
  	text-align: center;
}

.end_user {
	margin-top: 30px;
}

.menu {
	height: 30%;
	padding: 10px;
}

.content {
	width: 100%;
	margin-bottom: 0;
}

li {
	font-size: 20px;
	margin: 20px;
}

.address-form td {
	padding: 10px;
	width: 500px;
	border-style: none;
}

td {
	white-space: nowrap;
}

.link-menu {
	text-decoration: none;
	color :#444444;
}

.link-menu:hover {
	text-decoration: none;
}

.input-size {
  	width: 350px;
  	height: 35px !important;
  	border-radius: 5px;
  	border: 1px solid #ccc
}

/*ここからheader*/

.signup{
	color:#4682B4;
	padding-top:30px;
	margin-right:20px;
}
.signin{
	color:#4682B4;
	padding-top:30px;
}
.title{
    color:#4682B4;
    font-size:25px;
    margin-top:10px;
}
.navbar-right{
	margin-right:0;
	padding-top:20px;
}
.navbar-left{
	margin-left:20px;
}
header{
	height: 90px;
	margin-bottom:20px;
	display:block;
}

i{
	color:#4682B4;
}
.favorite{
	padding-left:10px;
}
.cart{
	padding-left:10px;
}
.contact{
	padding-left:10px;
}
.signout{
	padding-left:10px;
	margin:0 0 0 auto;
}
.current_user{
padding-left:350px;
text-decoration:underline;
}
.admin_user{
	float:left;
}
.admin_signout{
	float:right;
}

/*ここからフッダー*/

footer{
    bottom: 0;
    padding: 30px 0;
    width:100%;
}

.footer-text-content{
	color:#4682B4;
	text-align:center;
}



/*サイドメニュー*/

ul {
  padding: 0;
}

.detail-list{
  color: #404040;
  border-left: solid 6px #4682B4;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}



/*item*/



/*商品登録タイトル*/

.registration-items{
	text-align: center;
}

.border{
	width: 80%;
	height: 2px;
	background-color:#dadada;
	margin: 0 auto;
}

.registration-contents{
	margin-top: 50px;
}


#input_plural {
    margin: 10px 0;
}

/*数字入力フォームの長さ*/

.number_field{
	width: 35px;
}

.search-box{
	margin-top: 35px;
	margin-bottom: 500px;
}

.attribution{
	$is: 1,6,7,8,9,10,11,12;

	@each $i in $is{
	option:nth-of-type(#{$i}) {display:none}
	}
}


.search_field{
	width: 400px;
}



/* user-order */

/*//confirm*/


.confirm-title{
	font-size:30px;
	text-align:center;
	margin-top:50px;
}
.confirm-body{
	text-align:center;
	font-size:15px;
	display:block;
	margin-top:40px;
}
.box1{
	margin-top:50px;
	color:black;
	padding: 0.5em 1em;
    border: solid 1px #000000;
    text-align:center;
}





/*//index*/

.index-title{
	padding: 0 0 0 115px;
	margin-top:50px;
}

.border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.delivery-status{
	padding-top:30px;
	font-size:20px;
}

#pageTop {
  text-align: center;
  border: solid 1px #000000;
}

#pageTop a {
  display: block;
  padding: 0.5em 1em;
  color:black;
}

.index-box1{
	margin-top:50px;
	margin-bottom:50px;
	color:black;
	padding: 0.5em 1em;
    border: solid 1px #000000;
    text-align:center;
}




/*//new*/


.new-title{
	font-size:20px;
	margin-top:60px;
	margin-left:60px;
}

.border {
    width: 90%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.user_last-name{
	margin-right:10px;
}
.new-table{
	margin-top:30px;
	font-size:15px;
}
table td{
	padding:10px;
}

.new-2title{
	font-size:20px;
	margin-top:50px;
	margin-left:60px;
}

.credit{
	margin-top:30px;
}

.input{
	margin-bottom:20px;
	margin-left:10px;
}

.card-payment{
	margin:10px 0 10px 30px;
}

.bank_num{
	margin:0 0 0 10px;
	font-size:8px;
}

.daibiki{
	margin-top:20px;
}
.daibiki_num{
	margin:0 0 20px 10px;
	font-size:8px;
}

.tablemenu{
	float:left;
}

.registrated-address{
	margin-bottom:20px
}

.sum{
	margin-top:50px;
	margin-bottom:50px;
	color:black;
	padding: 0.5em 1em;
    border: solid 1px #000000;
    text-align:right;
}




/* admin_user  */


/*   show  */


.edit_user{
	float:right;
	color:black;
	margin-right:50px;
}

.border-admin {
    width: 70%;
    height: 2px;
    background-color:#dadada;
    margin: 0 0 0 270px;
}

.user_table{
	width:30%;
}

.admin-usershow-box{
	margin-top:50px;
	margin-bottom:50px;
	color:black;
	padding: 0.5em 1em;
    border: solid 1px #000000;
    text-align:center;
}

.user_show_table{
	margin-top:50px;
	margin-left:20px;
}


/*管理者：item show*/

.admin-item-detail-title{
	margin-left: 100px;
}

.admin-item-detail-id{
	margin-left: 400px;
}

.before-songlist{
	height: 300px;
}

.show-head{
	height: 110px;
}

.sales-status-box{
	margin-top: 20px;
	margin-left:50px;
	border: solid 2px #808080;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 35px;
	background-color: gray;
	float: left;
}

.sales-status{
	font-size: 20px;
	color: white;
}

.admin-item-edit{
	margin-top: 20px;
	margin-right: 50px;
	float: right;
	font-size: 15px;
}

.admin-input-arrival{
	margin-top: 10px;
}

.samuneiru-position{
	margin-left: 50px;
	float: left;
}

.admin-item-names{
	margin-left: 220px;
}

.admin-item-name{
	font-size: 20px;
}

.admin-item-total-stock-box{
	margin-top: 3px;
	margin-left:15px;
	border: solid 2px #DDDDDD;
	width: 65%;
	height: 70px;
	background-color: #EEEEEE;
	float: left;
}

.category-name-box{
	margin-top: 5px;
	margin-left:10px;
	border: solid 2px #A9A9A9;
	width: 60px;
	height: 20px;
	text-align: center;
	line-height: 17px;
	background-color: #D3D3D3;
	font-size: 12px;
	float: left;
}

.stock-quantity-box{
	margin-top: 5px;
	margin-left:10px;
	border: solid 2px #A9A9A9;
	width: 60px;
	height: 20px;
	text-align: center;
	line-height: 17px;
	background-color: #D3D3D3;
	font-size: 12px;
	float: left;
}

.admin-item-price{
	margin-top: 35px;
	float: left;
}

.admin-item-price-text{
	font-size: 20px;
	color: #B22222;
}

.admin-item-price-tax{
	color: black;
	font-size: 15px;
}

.stock-quantity-detail{
	margin-top: 35px;
}

.stock-quantity-detail-text{
	font-size: 20px;
	margin-left: 25px;
}

/* arrivals  */


/*   edit  */

.arrival-item {
	margin-top: 30px;
}

.must-field {
	color: #E36363;
}



/*   index  */

.arrival-items-index {
	margin-top: 30px;
}
