 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/autocomplete
 *= require_tree .


 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";
@import 'bootstrap-datetimepicker';


/*ここからUSER*/



.user-title {
	display: inline;
	padding: 0 0 0 115px;
}

.icon {
	font-size: 20px;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}


.border-login{
	width: 80%;
    height: 2px;
    background-color:#dadada;
    margin-bottom: 70px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.login-button-space{
	margin-top: 35px;
	margin-left: 18px;
}

.login-button-bottom-space{
	margin-top: 30px;
	margin-left: 315px;
}


.border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.border-signin {
	width: 30%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.create-btn {
	margin-left: 23px;
}

.link-to-login {
	margin-right: 32px;
}

.signin-button-bottom-space {
	margin: 15px;
}


.space{
    height: 20px;
    margin: 0 auto;
}

.vacuum{
	height: 50px;
	margin: 0 auto;
}

.text{
  	text-align: center;
}

.end_user {
	margin-top: 30px;
}

.menu {
	height: 30%;
	padding: 10px;
}

.content {
	width: 100%;
	margin-bottom: 0;
}


.address-form td {
	padding: 10px;
	width: 500px;
	border-style: none;
}


.link-menu {
	text-decoration: none;
	color :#444444;
}

.link-menu:hover {
	text-decoration: none;
}

.input-size {
  	width: 350px;
  	height: 35px !important;
  	border-radius: 5px;
  	border: 1px solid #ccc
}

/*ここからheader*/

.signup{
	color:#4682B4;
	margin-left: 450px;
	line-height: 60px;
}
.signin{
	color:#4682B4;
	margin-left: 50px;
	line-height: 60px;
}
.header-title-index{
	position: absolute;
    color:	#B22222;
    font-family: 'HanziPen TC','HanziPen SC','klee',sans-serif;
    font-size:100px;
    margin-top: 60px;
    margin-left: 70px;
    z-index: 9;
}

.logo-ringo-index{
	margin-top: 100px;
	position: absolute;
	font-size:40px;
	z-index: 9;
	margin-left: 5px;
}

.logo-ringo{
	margin-top: 41px;
	position: absolute;
	font-size:25px;
	margin-left: 55px;
}

.header-title{
	position: absolute;
    color:	#B22222;
    font-family: 'HanziPen TC','HanziPen SC','klee',sans-serif;
    font-size:50px;
    margin-top: 27px;
    margin-left: 93px;
    z-index: 9;
}

.navbar-right{
	margin-right:20px;
	padding-top:20px;
	white-space: nowrap;
}
.navbar-left{
	margin-left:20px;
}
.header{
	height: 90px;
	margin-bottom:20px;
	display:block;
}

.header-menu{
	float: right;
	margin: 10px, 0;
}

i{
	color:#B22222;
}
.favorite{
	padding-left:10px;
}
.cart{
	padding-left:10px;
}
.contact{
	padding-left:10px;
}
.signout{
	padding-left:10px;
	margin:0 0 0 auto;
}
.current_user{
	float: right;
	text-decoration:underline;
}

.admin_user-box{
	margin-left: 400px;
	margin-top: 15px;
}

.admin_user{
	float:left;
}

.admin_signout-box{
	margin-top: 40px;
}
.admin_signout{
	float:right;
	line-height: 45px;
}


.theTarget{
	height: 400px !important;
	width: 800px;
}

.pic1{
	background-image: image-url("ric.jpeg");
	background-position: center 96%;
}
.pic2{
	background-image: image-url("gene.jpeg");
	background-position: center 65%;
}
.pic3{
	background-image: image-url("ara.jpeg");
	background-position: center 50%;
}
.pic4{
	background-image: image-url("the.jpeg");
	background-position: center 45%;
}
.pic5{
	background-image: image-url("kinoko.jpg");
	background-position: center 28%;
}

/*ここからフッダー*/


.footer_text{
    bottom: 0;
    padding-top:70px;
    padding-bottom: 30px;
    width:100%;
}

.footer-text-content{
	color:#4682B4;
	text-align:right;
}



/*サイドメニュー*/

ul {
  padding: 0;
}

.detail-list{
  color: #404040;
  border-left: solid 6px #4682B4;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 1em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

.side-menu-title{
	margin-top: 20px;
}

.side-menu-title-text{
	text-align: center;
	font-size: 20px;
}

.side-list{
	margin-top: 20px;
}



/*item*/



/*商品登録タイトル*/

.admin-search_field{
	width:500px;
	margin-bottom: 30px;
}

.registration-items{
	text-align: center;
}

.border{
	width: 80%;
	height: 2px;
	background-color:#dadada;
	margin: 0 auto;
}

.registration-contents{
	margin-top: 50px;
}

.item-registration-form{
	margin-left: 250px;
}


#input_plural {
    margin: 10px 0;
}

/*数字入力フォームの長さ*/

.number_field{
	width: 35px;
}

.song-setlist_field{
	width: 350px;
}

.search-box{
	margin-top: 35px;
	margin-bottom: 500px;
}

.search_field{
	width: 400px;
}

.sales_status-text{
	color: #B22222;
}




/* user-order */

.pay {
	display:none;
}
.temp {
	display:none;
}





.border {
    width: 90%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.user_last-name{
	margin-right:10px;
}
.new-table{
	margin-top:30px;
	font-size:15px;
}

.new-2title{
	font-size:20px;
	margin-top:50px;
	margin-left:60px;
}

.credit{
	margin-top:30px;
}

.input{
	margin-bottom:20px;
	margin-left:10px;
}

.card-payment{
	margin:10px 0 10px 30px;
}

.bank_num{
	margin:0 0 0 10px;
	font-size:8px;
}

.daibiki{
	margin-top:20px;
}
.daibiki_num{
	margin:0 0 20px 10px;
	font-size:8px;
}

/* admin_user  */


/*   index    */

.admin-index-title{
	margin-left: 50px;
}


/* edit */
.admin-user-edit-title{
	margin-left: 50px;
}




/*   show  */


.edit_user{
	float:right;
	color:black;
	margin-right:50px;
}

.border-admin {
    width: 70%;
    height: 2px;
    background-color:#dadada;
    margin: 0 0 0 270px;
}

.user_table{
	width:30%;
}

.admin-usershow-box{
	margin-top:50px;
	margin-bottom:50px;
	color:white;
	padding: 0.5em 1em;
    text-align:center;
    border-radius: 10px;
    background-color:#f0ad4e;
}

.user_show_table{
	margin-top:50px;
}


/*管理者：item show*/

.admin-item-detail-title{
	margin-left: 100px;
}

.admin-item-detail-id{
	margin-left: 400px;
}

.before-songlist{
	height: 300px;
}

.show-head{
	height: 110px;
}

.sales-status-box{
	margin-top: 20px;
	margin-left:50px;
	border: solid 2px #808080;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 35px;
	background-color: gray;
	float: left;
}

.sales-status-box-1{
	margin-top: 20px;
	margin-left:50px;
	border: solid 2px #B22222;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 35px;
	background-color: #B22222;
	float: left;
}

.sales-status{
	font-size: 20px;
	color: white;
}

.admin-item-edit{
	margin-top: 20px;
	margin-right: 50px;
	float: right;
	font-size: 15px;
}

.admin-input-arrival{
	margin-top: 10px;
}

.samuneiru-position{
	margin-left: 50px;
	float: left;
}

.admin-item-names{
	margin-left: 220px;
}

.admin-item-name{
	font-size: 20px;
}

.admin-item-total-stock-box{
	margin-top: 3px;
	margin-left:15px;
	border: solid 2px #DDDDDD;
	width: 65%;
	height: 70px;
	background-color: #EEEEEE;
	float: left;
}

.category-name-box{
	margin-top: 5px;
	margin-left:10px;
	border: solid 2px #A9A9A9;
	width: 60px;
	height: 20px;
	text-align: center;
	line-height: 17px;
	background-color: #D3D3D3;
	font-size: 12px;
	float: left;
}

.stock-quantity-box{
	margin-top: 5px;
	margin-left:10px;
	border: solid 2px #A9A9A9;
	width: 60px;
	height: 20px;
	text-align: center;
	line-height: 17px;
	background-color: #D3D3D3;
	font-size: 12px;
	float: left;
}

.admin-item-price{
	margin-top: 35px;
	float: left;
}

.admin-item-price-text{
	font-size: 20px;
	color: #B22222;
}

.admin-item-price-tax{
	color: black;
	font-size: 15px;
}

.stock-quantity-detail{
	margin-top: 35px;
}

.stock-quantity-detail-text{
	font-size: 20px;
	margin-left: 25px;
}

.border-admin-item-show{
	width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
    margin-bottom: 30px;
}

.border-admin-item-show-review{
	width: 100%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 30px;
}


/* ここからReview */


.create-review-table{
	margin-top:80px;
	margin-bottom:50px;
}

.review-content{
	width:70%;
}

.review-table-height{
	height:100px;
}

.review-valuation{
	height: 40px;
}

.review-title{
	height: 40px;
}

.review-height{
	height:100px;
}

.admin-review-title{
	margin-left: 50px;
}

.edit-items{
	text-align: center;
}

.edit-contents{
	margin-top: 8px;
}

.admin-item-delete-test{
	margin-top: 30px;
	text-align: right;
	margin-right: 100px;
}

/* arrivals  */


/*   edit  */

.arrival-list {
	margin-top: 30px;
}

.arrival-list td {
	text-align: center;
}

.arrival-list tr th td {
	border-top:solid 1px;
}



/*   index  */

.arrival-items-index {
	margin-top: 30px;
}

.back-btn {
	margin-top: 50px;
}



/*  label */


.label-artist-category {
	display: inline;
	text-align: center;
	margin-left: 260px;
}

.border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}

.label-artist-category-text{
  	text-align: center;
}

.label-artist-category-box{
	margin-top: 100px;
}


/*admin contact show画面*/

.admin-contact-user-id-position{
	margin-top: 50px;
}

.admin-contact-user-id-text{
	font-size: 18px;
}

.admin-contact-show-title{
	margin-left:50px;
}

.admin-contact-user-id-box{
	width:60px;
	height: 35px;
	border: solid 1px #444444;
	margin-top: 5px;
	line-height: 32px;
	text-align: center;
}

.admin-contact-user-id{
	font-size: 16px;
}

.admin-contact-user-name-position{
	margin-top: 50px;
	margin-left: 10px;
}

.admin-contact-user-name-text{
	font-size: 18px;
}

.admin-contact-user-name-box{
	width: 180px;
	height: 35px;
	border: solid 1px #444444;
	margin-top: 5px;
	line-height: 32px;
}

.admin-contact-user-name{
	margin-left: 10px;
	font-size: 16px;
}

.admin-contact-user-email-position{
	margin-top: 50px;
}

.admin-contact-user-email-text{
	margin-left: 10px;
	font-size: 18px;
}

.admin-contact-user-email-box{
	width: 250px;
	height: 35px;
	border: solid 1px #444444;
	margin-top: 5px;
	line-height: 32px;
}

.admin-contact-user-email{
	margin-left: 10px;
	font-size: 16px;
}

.admin-contact-title-position{
	margin-top: 40px;

}

.admin-contact-title-text{
	margin-left: 15px;
	font-size: 18px;
}

.admin-contact-title-box{
	width: 250px;
	height: 35px;
	border: solid 1px #444444;
	margin-top: 5px;
	line-height: 32px;
	margin-left: 5px;
}

.admin-contact-title{
	margin-left: 10px;
	font-size: 16px;
}

.admin-contact-time-position{
	margin-top: 40px;
}

.admin-contact-time-text{
	margin-left: 10px;
	font-size: 18px;
}

.admin-contact-time-box{
	width: 250px;
	height: 35px;
	border: solid 1px #444444;
	margin-top: 5px;
	line-height: 32px;
}

.admin-contact-time{
	margin-left: 10px;
	font-size: 16px;
}

.admin-contact-body-position{
	margin-top: 40px;
	margin-left: 140px;
}

.admin-contact-body-text{
	margin-left: 10px;
	font-size: 18px;
}

.admin-contact-body-box{
	width: 580px;
	height: 200px;
	border: solid 1px #444444;
	margin-top: 5px;
}

.admin-contact-body{
	margin-left: 10px;
	font-size: 16px;
}

.border-between-contact-reply{
	width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 40px;
}

.reply-title-text{
	font-size: 18px;
}

.reply-title-box{
	width: 300px;
}

.reply-body-position{
	margin-top: 30px;
}

.reply-body-text{
	font-size: 18px;
}

.reply-body-box{
	width: 580px;
	height: 200px;
	margin-bottom: 50px;
}

.back-to-contact-index{
	height: 45px;
	margin-top: 30px;
}

/*admin order index,show画面*/

.admin-order-index{
	margin-top: 20px;
	margin-bottom: 5px;
}

.deliver-status-search-radio{
	margin-top: 40px;
	margin-left: 250px;
	margin-bottom: 40px;
}

.admin-order-box{
	width: 100%;
	border: solid 1px;
	border-radius: 0px 0px 5px 5px;
}

.admin-order-box-head{
	width: 100%;
	height: 45px;
	border: solid 1px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
	line-height: 42px;
	background-color: 	#EEEEEE;
}

.admin-order-date-text{
	font-size: 16px;
	margin-left: 15px;
}

.admin-order-total-price{
	font-size: 16px;
	margin-left: 40px;
}

.admin-order-delivery-status-box-0{
	margin-top: 6px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #B22222;
	color: white;
	border-radius: 5px 5px 5px 5px;
}

.admin-order-delivery-status-box-1{
	margin-top: 6px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #DAA520;
	color: white;
	border-radius: 5px 5px 5px 5px;
}

.admin-order-delivery-status-box-2{
	margin-top: 6px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #20B2AA;
	color: white;
	border-radius: 5px 5px 5px 5px;
}

.admin-order-delivery-status-box-3{
	margin-top: 6px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #008BBB;
	color: white;
	border-radius: 5px 5px 5px 5px;
}

.admin-order-delivery-status-box-4{
	margin-top: 6px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #006400;
	color: white;
	border-radius: 5px 5px 5px 5px;
}

.admin-order-delivery-status{
	font-size: 16px;
}

.admin-order-user-info{
	margin-top: 15px;
}

.admin-order-user-id{
	font-size: 13px;

}

.admin-order-user-name{
	font-size: 15px;
}

.admin-order-address{
	margin-top: 10px;
}

.admin-order-order-address{
	font-size: 15px;
}

.admin-order-samuneiru-position{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.admin-order-item-info{
	margin-left: 40px;
}

.admin-order-item-name{
	margin-top: 15px;
}

.admin-order-item-name-text{
	font-size: 18px;
}

.admin-order-artist-name{
	margin-top: 10px;
}

.admin-order-artist-name-text{
	font-size: 16px;
}

.admin-order-item-quantity{
	margin-top: 15px;
}

.admin-order-item-quantity-text{
	font-size: 17px;
}

.admin-order-item-total-text{
	font-size: 17px;
}

