 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";
@import 'bootstrap-datetimepicker';

// ここからheader

.signup{
	color:#4682B4;
	padding-top:30px;
	margin-right:20px;
}
.signin{
	color:#4682B4;
	padding-top:30px;
}
.title{
    color:#4682B4;
    font-size:25px;
    margin-top:10px;
}
.navbar-right{
	margin-right:0;
	padding-top:20px;
}
.navbar-left{
	margin-left:20px;
}
header{
	margin-bottom:50px;
	display:block;
}
body{
	margin-top:50px;
}
i{
	color:#4682B4;
}
.favorite{
	padding-left:10px;
}
.cart{
	padding-left:10px;
}
.contact{
	padding-left:10px;
}
.signout{
	padding-left:10px;
	margin:0 0 0 auto;
}
.current_user{
padding-left:350px;
text-decoration:underline;
}
.admin_user{
	float:left;
}
.admin_signout{
	float:right;
}

// ここからfooter

.footer_text{
	width:100%;
	color:#4682B4;
	text-align:center;
}
footer{
	position: relative;
    bottom: 0;
    padding: 30px 0;
    width:100%;
}

