// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.change-place {
	text-align: center;
}


.sample01 {
    width: 600px;
    padding: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    zoom: 1;
}

.sample01 p {
    overflow: hidden;
    zoom: 1;
    text-align: left;
}

.sampleImg {
    float: left;
    margin: 0 10px 5px 0;
}

.quantity-number-field{
	width: 37px;
}

.position-fix {
    width: 400px;
    margin: 0 auto;
}

.sasasa{
    margin-right: 20px;
}

.change-position {
     width: 300px;
    margin: 0 auto;
}