// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	display: inline;
	padding: 0 0 0 115px;
}

span {
	font-size: 20px;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.jumbotron {
	height: 300px;
	margin: auto;
}

.border {
    width: 80%;
    height: 2px;
    background-color:#dadada;
    margin: 0 auto;
}


.space{
    height: 20px;
    margin: 0 auto;
}

.blank{
    height: 200px;
    margin: 0 auto;
}

.vacuum{
	height: 100px;
	margin: 0 auto;
}

.text{
  	text-align: center;
}

.row {
	margin-top: 30px;
}

.menu {
	height: 30%;
	padding: 10px;
}

.content {
	width: 100%;
	margin-bottom: 0;
}

li {
	font-size: 20px;
	margin: 20px;
}

.address-form td {
	padding: 10px;
	width: 500px;
	border-style: none;
}

td {
	white-space: nowrap;
}

.link-menu {
	text-decoration: none;
	color :#444444;
}

.link-menu:hover {
	text-decoration: none;
}

.input-size {
  	width: 350px;
  	height: 35px !important;
  	border-radius: 5px;
  	border: 1px solid #ccc
}