<script src="https://kit.fontawesome.com/b1ddc8e955.js" crossorigin="anonymous"></script>
<div class="container">
<div class="row">
<header class="navbar navbar-fixed-top">
    <nav class='nav navbar-nav navbar-left' >
      <span class="col-lg-4 title">りんごCD</span>
      <i class="fas fa-apple-alt fa-2x"></i>
    </nav>
    <nav>
     <ul class="nav navbar-nav navbar-right col-lg-3">
        <%= link_to() do %>
        <span class="admin_user"> ショプ管理画面<br>管理者　様</span>
        <% end %>
        <%= link_to() do %>
        <span class="admin_signout"> サインアウト</span>
        <% end %>
     </ul>
    </nav>
</header>
</div>
</div>