<footer>
	<div class="container">
	<div class="row">
      <div class='col-xs-4 col-xs-offset-4'>
        <div class="footer_text">
        	<p class="footer-text-content">©︎2019 りんごCD.inc</p>
        	</div>
      </div>
      </div>
</div>
</footer>
